html{
    background-color: rgb(6, 49, 49);
}
body,main{
    margin: 3px;
    background-color: white;
    display: grid;
    grid-template-areas: 
   'a'
   'b'
   'c'
   'd'
    ;
}
.blue{
    min-height: 100vh;
    width: 100%;
    background-image: url(bg-hero-desktop.svg);
    background-color:  hsl(193, 100%, 96%);
    background-position: center;
    background-size: cover;
    position: relative;
}
.pink{
    background-color:  hsl(322, 100%, 66%);
    border-color:  hsl(322, 100%, 66%);
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.white{
    background-color: white;
    border-color: white;
    border-radius: 15px;
    padding: 10px;
    color: black;
    align-items: right;
    display: flex;
    justify-content: right;
}
footer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 49, 49);
    
}
.mainf1{
    padding: 15px;
}
.mainf2{
    padding: 15px;
}
.mainf3{
    padding: 15px;
}
.right{
    align-items: right;
    display: flex;
    justify-content: right;
}
.middlebox{
    display: grid;
    justify-content: center;
    box-sizing: border-box;
}
